
.banner {
   padding: 10px;
   background-color: #eee;
   margin-bottom: 20px;
   font-size: 9pt;
}

.boxer .box-row {
   display: table-row;
   width:100%;
   background-color: #FFF;
}

.boxer {
   padding: 5px;
}
 
.boxer .box {
   display: table-cell;
   text-align: left;
   vertical-align: top;
}

.leftInfo {
   padding: 30px;
   padding-top: 18px;
   width: 25%;
   min-height: 500px;
   border: 2px solid #999;
   border-right: none;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   font-size: 80%;
}

.rightInfo {
   padding: 5px;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 15px;
   border: 2px solid #999;
   border-left: none;
   width: 75%;
   font-size: 110%;
   min-height: 500px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

.google-visualization-table-tr-sel td,
.google-visualization-table-tr-over td {
	background-color: #eee !important;
}

.siderow {
   margin-bottom: 5px !important;
}

.google-visualization-table-tr-sel td,
.google-visualization-table-tr-over td {
}

.label {
   font-weight: bold;
}

.section {
  margin-bottom: 10px;
}

.smalllabel {
   font-style: italic;
}

div.charts-menu-button-dropdown {
    padding-top: 2px;
    margin-left: 5px;
}

.google-visualization-table-td {
    font-family: Georgia,serif;
    font-size: 14px;
}

.fa {
  opacity: 0.5;
}

.hover {
  margin-right: 10px;
}

.comments {
  font-family: sans-serif;
  font-size: 10pt;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.comments > button {
  margin-bottom: 5px;
}

.paragraph {
  line-height: 1.2em;
  padding-bottom: 3px;
}

.spacer {
  padding-bottom: 10px;
}

button.toggle {
  margin-top: 10px;
}

.toggle > .ui-button-text {
  font-size: 8pt;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:2px;
  padding-bottom: 2px;
}

.privateLeft {
  background: rgba(255,255,255,0.91);
  background: -moz-linear-gradient(left, rgba(255,255,255,0.91) 0%, rgba(255,130,130,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.91)), color-stop(100%, rgba(255,130,130,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.91) 0%, rgba(255,130,130,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,0.91) 0%, rgba(255,130,130,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,0.91) 0%, rgba(255,130,130,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0.91) 0%, rgba(255,130,130,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff8282', GradientType=1 );  
}

.privateRight {
  background: rgba(255,130,130,1);
  background: -moz-linear-gradient(left, rgba(255,130,130,1) 0%, rgba(255,255,255,0.91) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,130,130,1)), color-stop(100%, rgba(255,255,255,0.91)));
  background: -webkit-linear-gradient(left, rgba(255,130,130,1) 0%, rgba(255,255,255,0.91) 100%);
  background: -o-linear-gradient(left, rgba(255,130,130,1) 0%, rgba(255,255,255,0.91) 100%);
  background: -ms-linear-gradient(left, rgba(255,130,130,1) 0%, rgba(255,255,255,0.91) 100%);
  background: linear-gradient(to right, rgba(255,130,130,1) 0%, rgba(255,255,255,0.91) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#ffffff', GradientType=1 );
}

#controlers1 {
  margin-left: 10px;
}

#newButton {
  margin-left: 10px;
}

.numberOfResultsShown {
  margin-left: 18px;
}

#pagination {
  margin-right: 10px;
}